<h1>Trip Show Page</h1>

<h1>Trip Budget Amount:- <%= number_to_currency(@trip.budget) %></h1>
<h2>Location Place:- <%= link_to @trip.location.city, location_path(@trip.location) if @trip.location %> -  <%= link_to @trip.location.country, location_path(@trip.location) if @trip.location %></h2>

<h2>Travel To:- <%= @trip.travel.name_and_address %></h2>


