<h4> "Login is successfully" </h4>
<h1>Welcome to Vacation's Trip App!!</h1>
<!--
<%= button_to "Sign in with Google", '/auth/google_oauth2'%> <br>
<%= link_to 'Sign Up', signup_path%> |
<%= link_to 'Log In', login_path%>
-->
