<h1>All Locations</h1>
<h2>User Name:- <%= @current_user.username %></h2>

<% current_user.locations.each do |location| %>
  <h2><%= link_to location.city_and_country, location_trips_path(location) %></h2>
<% end %>

 
